<!-- templates/reestablecer/password_reset_email.html -->
{% load static %}

<p>Hola,</p>

<p>Recibes este correo porque has solicitado restablecer tu contraseña en nuestro sitio.</p>
<p>Por favor, haz clic en el enlace a continuación para restablecer tu contraseña:</p>

<p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Restablecer Contraseña</a></p>

<p>Si no solicitaste restablecer tu contraseña, ignora este correo.</p>

<p>Gracias,</p>
<p>El equipo de nuestro sitio</p>
